/* css for romogsuiter */

body {

  background-color: lightgrey;
}

ul {
list-style-type: none;
}

.romheading {
font-size: 21px;
}

.box { 
background-color: black;
border: 5px purple solid;
margin: 20px 10px;
width: 30%;
}

.box2 {
  border: 5px green solid;
  margin: 10px;
  width: 300px;
  height: 500px;
  background: white;
}

  .part1,.part2 {
      float: left;
      padding: 20px;
  }

#suite, #dobbeltrompremium {
      float: left;

}

#dobbeltrompremium, #dobbeltromsyd {
float: left;
padding: 20px;

}
