/* css for romogsuiter */

body {
  background-color: lightgrey;
}

ul {
list-style-type: none;
}

li {
font-family: Helvetica, verdana, sans-serif;
font-size: 13px;

}

.frontpagephoto {
  width: 100%;

}

.romheading {
font-size: 18px;
text-align: left;
margin-left: 3%;
margin-right: 3%;
font-family: Helvetica, verdana, sans-serif;

}



.box2 {
  margin: 8px;
  width: 26%;
  height: 50%;
  background: white;
}

.picture {
  width: 100%;
}

  .part1,.part2 {
      float: left;
      padding: 10px;
      margin-bottom: 12%;
  }

.part1 {
margin-right: 2%;

}

#suite, #dobbeltrompremium {
      float: left;
}

#dobbeltrompremium, #dobbeltromsyd {
float: left;
}

#dobbeltromnord, #tomannsrom {
float: left;
}

#tomannsrom, #enkeltrom {
  float: left;
}

#suite, #dobbeltromnord {
margin-left: 8%;

}

#dobbeltromsyd, #enkeltrom {
  margin-right: 8%;


}
