/*CSS*/

/*FILE NAME: style.css
WRITTEN BY: Cecilie Kristoffersen
            Susanne Rom
            Ida Opsahl
            Sunniva Johansen
            Torstein Bakke
WHEN: Oktober/November 2016
PURPOSE: Stylesheet for the whole homepage

/* /////Genral CSS for the whole site////*/
*{
	/* Fjerner luftrom over og på sidene*/
	margin:0;
	padding:0;
	font-family: Helvetica, "Gill Sans", sans-serif;
}

html, body {
	height: 100%;
}

body{
	background-color: #f4f4f4;
}

/*h2{
	font-size:3em;
}*/

p, ul,li{
	font-size: 1em;
}

article{
	width:50%;
	margin:0 auto;
	text-align: center;
  	margin-top: 50px;
  	margin-bottom: 50px;
}

.wrap {min-height: 100%;}


/* Bildet dekker hele skjermen*/
.bigPicture{
width:100%
}
.contentPicture{
	width:100%;
	transition: box-shadow 0.3s ease-out;
}


/* Provides shadow to pictures when hovered over. By Susanne */

.contentPicture:hover {
	box-shadow:
									0	0 4px 4px rgba(0, 0, 0, .1),
	              	0 0 8px 8px rgba(0, 0, 0, .1),
									0 0 16px 16px rgba(0, 0, 0, .15);


									/*Litt usikker på hvordan dette egentlig fremstår, bildene ser klikkbare ut. Tilbakemeldinger?*/
}



/*///////Navigation Bar///////*/

ul.topnav {
  	text-align:center;
 	list-style-type: none;
 	max-width: 100%;
 	min-width: 99%;
 	height: 60px;
  	background-color: #000;
 	overflow: hidden;
  }


ul.topnav li{
   	display: inline;
  }

ul.topnav li a{
  	display: inline-block;
  	text-decoration: none;
  	color: white;
  	width:12%;
  	font-size:12px;
	transition: 0.5s;
  }

ul.topnav li a img{
  	margin-top: 10px;
  }

 ul.topnav li a:hover{
 	color:gray;
 }

 ul.topnav li a:active{
 	color:#504f4f ;
 }

 ul.topnav li.icon {
 	display: none;
 }


#BookRom {
	float:right;
	background-color:#8b0007;
	margin-top: 20px;
	width:8%;
	display: inline-block;
}

.navBurger{
	display: none;
	position: absolute;
	right: 0;
	height: 60px;
	width: 60px;
}

/*Responsive Design:*/

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

 .navbarScrolled {
 	position: fixed;
 	transition-property: margin-top;
 	transition-duration:.3s;
 	width:100%;
 }


 /*/////Styling for the dropdown under Opplevelser. Written by Torstein///////*/

#opplevelser_bar {
	display:none;
  background-color: black;
  max-width: 100%;
  min-width: 99%;
  height: 45px;
	text-align: right;
}

#opplevelser_bar ul{
	margin-right: 30%;
	padding-top: 15px;
}

#opplevelser_bar li{
	display:inline;
}
#opplevelser_bar a{
	display: inline-block;
	text-decoration: none;
	color: white;
	width:7%;
	font-size:0.7em;
}

/*Hotellet/Index*/




/* Rom og Suiter, written by Susanne */

ul {
	list-style-type: none;
}

li {
	font-size: 0.9em;
}

.romheading {
	font-size: 1.2em;
	text-align: left;
	margin: auto;
	padding-bottom: 0;
	padding-top: 20px;
	padding-right: 8%;
	padding-left: 8%;

}


.box2 {
	margin: 1%;
	width: 26%;
	height: 450px;
	background: white;
	margin-top: 40px;
}

.box2:hover {
	box-shadow:
									0	0 4px 4px rgba(0, 0, 0, .1),
	              	0 0 8px 8px rgba(0, 0, 0, .1);
									transition: box-shadow 0.3s ease-out;
									/*vet ikke om det bør være sånn.. */
}

.picture {
	width: 100%;
}


  .part1,.part2 {
  	float: left;
  	margin-bottom: 12%;
  }

.part1, .part2 {
margin: auto;
padding: 8%;
}

#bookNa {
	background-color: rgb(139, 0, 7);
	border-style: none;
	color: white;
	width: 100px;
	height: 24px;
	text-align: center;
	display: block;
	margin: auto;
}

#bookNa:hover {
border-color: rgb(139, 0, 7);
border: 1px solid;
text-decoration: underline;
	}

.center {
}


#suite, #dobbeltrompremium,  #dobbeltromsyd {
	float: left;
}

#dobbeltromnord, #tomannsrom,  #enkeltrom {
	float: left;
}

#suite, #dobbeltromnord {
	margin-left: 10%;
}





/*Galleri*/
#galleritittel {
	margin: auto;
	text-align: left;
	padding-top: 150px;
	padding-bottom: 50px;
	font-size: 2em;
	width: 80%;
}

#gallerigrid {
	margin: auto;
	text-align: center;
	column-gap: 50px;
	height: 900px;
	width: 80%
}

.thumbs {
	width: 250px;
	height: auto;
	float: left;
	margin: 10px;
	box-shadow: 3px 3px 3px grey;
}

#slideshow {
	margin: auto;
	text-align: center;
	max-width: 80%;
	padding-left: 10px;
}

.big{
	max-width: 97%
}

#slideshowbuttons {
	margin: auto;
	padding-left: 10px;
	width: 80%;
}


/* Footer, written by Susanne */

#footer {
	text-align: left;
	width: 100%;
	height: 250px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  font-weight: lighter;
}

.footertext {
	margin-top: 20px;
	font-size: 1em;
}


 .footerheader {
	 margin-top: 15px;
	 margin-bottom: 20px;
	 font-size: 1.5em;
	 float:left;
 }



#column1, #column2, #column3, #column4 {
margin-top: 3%;
margin-left: 5%;
margin-right: 5%;
float: left;
}

#instaikon {
margin-left: 7%;
}


a {
	color: white;
	font-size: 1em;
	text-decoration: none;
}

a:hover {background-color:transparent; text-decoration:underline}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */


#main {overflow:auto;
padding-bottom: 220px;}  /* must be same height as the footer */

#footercontainer {
position: relative;
margin-top: -220px; /* negative value of footer height */
height: 220px;
clear:both;
margin-top: 80px;
}

/*Index.html*/

article {/*Selve avsnittene */
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	article h4 { /*skape rom mellom overskrift og brødtekst*/
		margin-bottom: 20px;
}
	#bookingBoks {
		background-color: rgba(139, 0, 7, 1); /*#8b0007;*/
		border-radius: 3px;
		width: /*35%;*/250px;
		height: /*30%;*/300px;
		color: white;
		position: absolute; right: 10%; top:45%;
		text-align: center;
	}

	div h3 { /*overskrift i bookingboks- book ditt opphold*/
		margin-top: 20px;
	}
	header h1 { /*Velkommen- Hovedoverskrift*/
		position: absolute; left: 5%; top:60%;
		color: white;
	}
	#ankomst { /*felt til å skrive inn ankomst*/
		padding-left: 10px;
		margin-top: 20px;
		position: relative;
		width: 180px;
		height: 24px;
	}
	#avreise { /*felt til å skrive inn avreise*/
		padding-left: 10px;
		margin-top: 10px;
		position: relative;
		width: 180px;
		height: 24px;
	}
	#sjekkTilgjengelighet { /*knapp til å sjekke om tilgjengelighet opp mot opplysningene*/
		position: auto;
		border-radius: 2px;
		background-color: rgb(139, 0, 7);
		color: white;
		padding-left: 10px;
		margin-top: 20px;
		position: relative;
		width: 180px;
		height: 24px;
	}
#underMeny {
	color: LightGray;
	text-align: center;
}
a {font-size: 1 ems;}
a:hover {color: #ededed;}
a:link {color: #504f4f;}
a:visited {color: #504f4f;}
