/*CSS*/

/*FILE NAME: style.css
WRITTEN BY: Cecilie Kristoffersen
            Susanne Rom
            Ida Opsahl
            Sunniva Johansen
            Torstein Bakke
WHEN: Oktober/November 2016
PURPOSE: Stylesheet for the whole homepage

/*  Genral CSS for the whole site  */
*{
	/* Fjerner luftrom over og på sidene*/
	margin:0;
	padding:0;
	font-family: Helvetica, "Gill Sans", sans-serif;
}

html, body {
	height: 100%;
}

body{
	background-color: #f4f4f4;
}

h2{
	font-size:3em;
}

p, ul,li{
	font-size: 1em;
}

article{
	width:50%;
	margin:0 auto;
}




/* Bildet dekker hele skjermen*/
.bigPicture{
width:100%
}



/*Navigation Bar*/


#topNavbar {
	text-align:center;
	width: 100%;
	height: 60px;
	background-color: #000;
}

#topNavbar li{
 	display: inline;
}

#topNavbar a{
	display: inline-block;
	text-decoration: none;
	color: white;
	width:12%;
	font-size:0.8em;
}

#topNavbar a img{
	margin-top: 20px;
}

#BookRom {
	float:right;
	background-color:#8b0007;
	margin-top: 20px;
	width:8%;
	display: inline-block;
}

/*Styling for the dropdown under Opplevelser. Written by Torstein*/

#opplevelser_bar {
	display:none;
  background-color: black;
  max-width: 100%;
  min-width: 99%;
  height: 45px;
	text-align: right;
}

#opplevelser_bar ul{
	margin-right: 30%;
	padding-top: 15px;
}

#opplevelser_bar li{
	display:inline;
}
#opplevelser_bar a{
	display: inline-block;
	text-decoration: none;
	color: white;
	width:7%;
	font-size:0.7em;
}

/*Hotellet/Index*/




/* Rom og Suiter */

ul {
	list-style-type: none;
}

li {
	font-size: 13px;
}

.romheading {
	font-size: 18px;
	text-align: left;
	margin-left: 11%;
	margin-right: 8%;
	margin-top: 6%;
	margin-bottom: 4%;

}


.box2 {
	margin: 10px;
	width: 26%;
	height: 50%;
	background: white;
}

.picture {
	width: 100%;
}

  .part1,.part2 {
  	float: left;
  	padding: 10px;
  	margin-bottom: 12%;
  }

.part1 {
	margin-left: 8%;
}

.part2 {
	margin-left: 4%;
	margin-right: 6%;
}

#suite, #dobbeltrompremium {
	float: left;
}

#dobbeltrompremium, #dobbeltromsyd {
	float: left;
}

#dobbeltromnord, #tomannsrom {
	float: left;
}

#tomannsrom, #enkeltrom {
	float: left;
}

#suite, #dobbeltromnord {
	margin-left: 10%;
}

/*Galleri*/
#galleritittel {
	margin: auto;
	text-align: left;
	padding-top: 150px;
	padding-bottom: 50px;
	font-size: 2em;
	width: 80%;
}

#gallerigrid {
	margin: auto;
	text-align: center;
	column-gap: 50px;
	height: 900px;
	width: 80%
}

.thumbs {
	width: 250px;
	height: auto;
	float: left;
	margin: 10px;
	box-shadow: 3px 3px 3px grey;
}

#slideshow {
	margin: auto;
	text-align: center;
	max-width: 80%;
	padding-left: 10px;
}

.big{
	max-width: 97%
}

#slideshowbuttons {
	margin: auto;
	padding-left: 10px;
	width: 80%;
}


/* Footer, lagt inn av Susanne */

#footer {
	text-align: left;
	width: 100%;
	height: 250px;
	background-color: black;
  color: white;
  margin-top: 200px;
position: absolute;
bottom: 0;
}

.footertext {
	margin-top: 20px;
	font-size: 1em;
}


.footertext, .footerheader {
font-weight: lighter;
 }

 .footerheader {
	 margin-top: 15px;
	 margin-bottom: 20px;
	 font-size: 1.5em;
	 float:left;
 }



#column1, #column2, #column3, #column4 {
margin: 4%;
float: left;
}

#tripikon {

}


a {
	color: white;
	font-size: 1em;
	text-decoration: none;
	font-weight: lighter;
}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */


#wrap {min-height: 100%;}

#main {overflow:auto;
padding-bottom: 220px;}  /* must be same height as the footer */

#footercontainer {position: relative;
margin-top: -220px; /* negative value of footer height */
height: 220px;
clear:both;
padding-top: 100px;
}
